<ng-container>
    @if(isVisible) {
        <div class="w-full h-screen absolute bg-[#333]/75 flex justify-center items-center">
            <div class="w-[500px] bg-white px-14 py-10 rounded-[8px]">
                <form #loginForm="ngForm" class="flex flex-col gap-4">
                    @if(!hasRoom) {
                        <div class="flex flex-col">
                            <label for="roomName" class="font-medium">Nome da sala</label>
                            <input type="text" name="roomName" id="roomName" [(ngModel)]="roomName" #room="ngModel" class="border p-3 rounded-[6px]" required>
                            @if(room.touched && room.errors?.['required']) {
                                <span class="text-red-800 text-sm">Este campo é obrigatório.</span>
                            }
                        </div>
                    }
                    <div class="flex flex-col">
                        <label for="username" class="font-medium">Username</label>
                        <input type="text" name="username" id="username" [(ngModel)]="username" #name="ngModel" class="border p-3 rounded-[6px]" required>
                        @if(name.touched && name.errors?.['required']) {
                            <span class="text-red-800 text-sm">Este campo é obrigatório.</span>
                        }
                    </div>

                    <button [disabled]="!loginForm.valid" (click)="joinRoom()" class="cursor-pointer bg-[#006494] text-white text-lg p-4 rounded-[6px] disabled:bg-gray-400 disabled:cursor-not-allowed">Entrar</button>
                </form>
            </div>
        </div>
    }
</ng-container>
