<div class="w-2xl mx-auto bg-[#e8f1f2] flex flex-col gap-10 p-7 rounded-lg">
    <div class="flex items-center justify-between pb-4 border-b">
        <h1 class="text-xl font-bold text-[#006494]">{{roomName || ''}}</h1>
        <p>
            Média: 
            <span class="text-lg text-[#1b98e0]">{{average || '-'}}</span>
        </p>
    </div>
    <div class="flex justify-around">
        <div class="flex flex-col gap-2 items-center">
            <button class="bg-white p-4 rounded-full cursor-pointer" (click)="reveal()">
                <lucide-icon [img]="Eye" class="w-9 h-9 text-amber-500"></lucide-icon>
            </button>
            <span class="cursor-default">Revelar</span>
        </div>
        <div class="flex flex-col gap-2 items-center">
            <button class="bg-white p-4 rounded-full cursor-pointer" (click)="restart()">
                <lucide-icon [img]="RotateCcw" class="w-9 h-9 text-blue-400"></lucide-icon>
            </button>
            <span class="cursor-default">Restart</span>
        </div>
        <div class="flex flex-col gap-2 items-center">
            <button class="bg-white p-4 rounded-full cursor-pointer" (click)="invite()">
                <lucide-icon [img]="Link" class="w-9 h-9 text-blue-600"></lucide-icon>
            </button>
            <span class="cursor-default">Convidar</span>
        </div>
    </div>
</div>
